html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }

h1{
	font: normal 2.4em Verdana, Geneva, sans-serif;
	background:-webkit-linear-gradient(top, #0F395F, #50A4F3);
	width:45%;
	border-radius:15px;
	margin:15px auto;
	text-align:center;
	padding:15px;
	color:white;
	box-shadow:#00F 5px 5px 10px;
	text-shadow: white -2px -2px 3px;
}

h1:hover{
  -webkit-transform:scale(1.2);
}

h2{
	font:bold 1.7em Verdana, Geneva, sans-serif;
	margin:0;
	padding:5px 0px 5px 8px;
	color: #000;
}

nav ul li{
  padding: 20px;
  float:left;
}

nav ul{
  list-style:none;
}

nav ul li{
  font:bold 1.2em sans-serif;
}

nav ul li a{
    text-decoration:none;
}

nav ul li a:hover{
  font:bold 1.3em sans-serif;
  color: #1F205D;
}

aside{
  clear:both;
}

body{
  background:#84B3EC;
}

footer {
  justify-content:center;
}

a:hover {
color: #00ff00;
}

footer{
 text-align:center;
 background-color: red;
 margin-bot: 10px;
}
